<!DOCTYPE html>

<html lang="en" class="light">
    
    <head>
        <meta charset="utf-8">
        <link href="/static/dist/images/logo.svg" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        <title>Login</title>
       
        <link rel="stylesheet" href="/static/dist/css/app.css" />
        
    </head>
    
    <body class="login">
        <div class="container sm:px-10">
            <div class="block xl:grid grid-cols-2 gap-4">
                <!-- BEGIN: Login Info -->
                <div class="hidden xl:flex flex-col min-h-screen">
                    
                    <div class="my-auto">
                        <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="/static/dist/images/illustration.svg">
                        
                        
                    </div>
                </div>
                <!-- END: Login Info -->
                <!-- BEGIN: Login Form -->
                <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                    <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                        <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                            Log In
                        </h2>
                        <form method="POST">
                            {% csrf_token %}
                        <div class="intro-x mt-8">
                            <input type="text" class="intro-x login__input form-control py-3 px-4 block" name="email" placeholder="Email">
                            <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" name="pass" placeholder="Password">
                        </div>
                        
                        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                            <button type="submit" class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">Login</button>
                            
                        </div>
                        </form>
                        <br>
                        <a href="{% url 'register' %}">Create an account.</a>
                        
                    </div>
                </div>
                <!-- END: Login Form -->
            </div>
        </div>
        
        <script src="/static/dist/js/app.js"></script>
        <!-- END: JS Assets-->
    </body>
</html>